/*html { font-size: 62.5%; }*/

body {
    font-family: Calibri;
    margin: 0;
    /*font-size: 1.6rem; este é o padrão (16px = 12pt)*/
}

p {
    /*font-size:1em;*/
    display: inline-block;
}

ul{
    margin-top: 0;
}

header {
    padding: 20px;
    background-color: #00a1c9;
    color: #fff;
}

h1, h2 {
    margin: 0;
}

section {
    margin: 20px;
}

    section p {
        cursor: pointer;
    }

        section p:hover {
            color: gray;
            font-weight: bold;
        }

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
