@*<!DOCTYPE html>*@
@*<html>*@

@{
    var titulo = "Razor web pages";
}

<!DOCTYPE html>
<html>
<head>
    <title>@titulo</title>
    <link rel="stylesheet" href="~/Styles/Site.css" />
    <script type="text/javascript" src="~/Scripts/Default.js" async></script>
</head>
<body>
    @*<body>*@
    <header>
        <h1>@titulo</h1>
        <h2>HTML + JS + CSS</h2>
    </header>
    <section id="tiposTecnologias">
        <h3>Cliente x Servidor</h3>
        @* dl: definition list *@
        <dl>
            @* dt: description term *@
            <dt>Cliente</dt>
            @* dd: definition of the term *@
            <dd>HTML</dd>
            <dd>Javascript</dd>
            <dd>CSS</dd>
        </dl>
        <p id="servidorP" data-destino="servidorUl">Servidor</p>
        <ul id="servidorUl">
            <li>C#</li>
            <li>ASP.NET</li>
            <li>Web Pages</li>
            <li>Web Forms</li>
            <li>MVC</li>
            <li>Razor</li>
        </ul>
    </section>
    <footer>
        <hr />
        @*&copy; Impacta Treinamentos*@
        <p>&copy; @*2017*@ @DateTime.Now.Year Impacta Treinamentos</p>
    </footer>
    @*</body>*@
</body>
</html>
@*</html>*@