@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>Leonardo da Vinci</h1>
    <p class="lead">Perfil online</p>
</div>

<div class="row">
    <div class="col-md-9 col-sm-3 table-bordered">
        <h2>Portfólio</h2>
        <p>Confira meus trabalhos.</p>
        <p><a class="btn btn-default" href="@Url.Action("Portfolio", "Home")">Portfólio</a></p>
    </div>
    <div class="col-md-3 col-sm-9 hidden-xs table-bordered">
        <h2>Contato</h2>
        <p>Entre em contato.</p>
        <p><a class="btn btn-default" href="@Url.Action("Contact", "Home")">Contato</a></p>
    </div>
</div>